{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/style_table_curhat.css' %}">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
{% endblock meta %}

{% block content %}
<div style="height:100px;"></div>
<div class="container-sm">
    <div class="table-responsive-md">
        <table class="table table-hover rounded rounded-3 overflow-hidden">
            <thead class="table" style="background-color: #2D55D0; color: #fff;">
                <tr>
                    <th class="text-center" style="padding: 1rem 1rem;"></th>
                    <th class="text-center" style="padding: 1rem 1rem;">Date</th>
                    <th class="text-center" style="padding: 1rem 1rem;">Name</th>
                    <th class="text-center" style="padding: 1rem 1rem;">Title</th>
                    <th class="text-center" style="padding: 1rem 1rem;">Description</th>
                    <th class="text-center" style="padding: 1rem 1rem;"></th>
                </tr>
            </thead>
            <tbody class="table table-hover content">
                <tr style="cursor: pointer;">
                    <td class="text-center"><input type="checkbox" class="checkbox"></td>
                    <td class="text-center">28 Oct 2022</td>
                    <td class="text-center">Anonymous</td>
                    <td class="text-center">Lorem Ipsum Dolor Sit</td>
                    <td class="text-center">Lorem ipsum dolor sit amet, consectetur...</td>
                    <td class="text-center"><input type="image" src="{% static 'media/btn-delete.png' %}" style="width: 30px; height: 30px; padding: 0;"/></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
