{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Speak Up Now</title>
<style>
    .navbar-custom{
        background-color: #3ECC90;
    }
    .btn:hover{
        background-color:#0caa68;
        border-color: #0caa68;
    }
    footer{
        position:absolute;
        bottom:0;
        width: 100%;
        height: auto;
    }
</style>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home:homepage' %}">
            <img src="{% static 'img/speakupnow.png' %}" width=250px>
        </a>
        <div class="d-flex btn-padding">
            <a href="{% url 'home:homepage' %}">
                <button type="button" class="btn m-4">
                    Home
                </button>
            </a>

            <a href="#">
                <button type="button" class="btn m-4">
                    Fitur
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn m-4">
                    FAQ
                </button>
            </a>
            <a href="{% url 'home:login' %}">
                <button type="button" class="btn m-4">
                    login
                </button>
            </a>
            <a href="{% url 'home:register' %}">
                <button type="button" class="btn btn-primary m-4">
                    Sign Up
                </button>
            </a>
        </div>
    </div>
</nav>

<body>
    <article class="container mt-5">
        <h1>Speak Up Now</h1>
        <p>
            Speak Up Now adalah....
        </p>
    </article>
    <section class="text-center text-black">
        <p style="padding-top: 50px;">
            Membantu para penyintas kekerasan seksual di lingkungan
            <br>
            Universitas Indonesia mendapatkan keadilan 
        </p>
        <p class="mt-4">
            <strong>Sangat mudah digunakan—</strong>mendapatkan umpan balik dari admin dan<br>kerahasiaan data terjamin
        </p>
    </section>
    <section class="container d-flex justify-content-center">
        <div class="btn-group-vertical m-4">
            <a href="#">
                <button type="button" class="btn btn-primary btn-lg btn-block mb-4">
                    Konsultasi
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-primary btn-lg btn-block mt-4">
                    Pelaporan
                </button>
            </a>
        </div>
    </section>
</body>
<footer class="text-center text-black" style="background-color: #3ECC90;">
    <div class="container p-4">
      <section class="">
        <form action="">
          <div class="row d-flex justify-content-center">
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <div class="col-md-5 col-12">
              <div class="form-outline form-white mb-4">
                <input type="email" placeholder="Your Email Address" class="form-control" />
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </section>
    </div>
</footer>
{% endblock content %}