{% comment %} {% extends 'base.html' %} {% endcomment %}
{% block content %}

<title>Register</title>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
</head>

<style>
    .register{
        position:relative;
        top: 40%;
        left:50%;
        transform: translate(-50%, -50%);
        background: white;
        border-radius: 10px;
        width: 400px;
        height: auto;
    }
    .register h1{
        text-align: center;
        padding: 0 0 10px 0;
        border-bottom: 1px solid silver;
    }
    body{
        background: #202A41;
    }
    
</style>
<body>
    <a href="{% url 'homepage' %}">
        <button type="button" class="btn btn-dark">
            Kembali
        </button>
    </a>
    <div class="register">
        <h1>Registration Page</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="container-fluid">
                <div class="form-group first mr-4">
                    <label for="username">Username</label>
                    {{form.username}}
                </div>
                <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    {{form.password1}}
                </div>
                <div class="form-group last mb-4">
                    <label for="password">Confirm Password</label>
                    {{form.password2}}
                </div>
                <div class="d-flex mb-5 align-items-center">
                    <input class="form-check-input" type="radio" value="option1" id="admin-checkbox" name="radio-stack">
                    <label class="form-check-label" for="admin-checkbox">
                    {{form.is_admin}}
                    Admin
                    </label>
                </div>
                <div class="d-flex mb-5 align-items-center">
                    <input class="form-check-input mr-4" type="radio" value="option2" id="user-checkbox" name="radio-stack">
                    <label class="form-check-label" for="user-checkbox">
                    {{form.is_user}}
                    User
                    </label>
                </div>
                <input type="submit" value="Register" class="btn btn-primary">
            </div>
            </form>
    </div>
</body>
{% endblock content %}