/* body{
    font-family: 'Poppins';
    background-color: #F8F9FC;
} */

h1 {
    color: #202A41;
    text-align: center;
    margin-top: 30px;
}

.btn:hover{
    background-color:#03429c;
}

/* .btn2{
    font-family: 'Poppins';
    background-color: #163aa7;
    font-size: 16px;
} */

/* .navbar{
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 8px 16px 0 rgb(147 129 129 / 3%), 0 6px 20px 0 rgb(0 0 0 / 19%);
} */