<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Konsultasi</title>
{% endblock meta %}
{% block content %}

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <div class="header">
        <h1><img src="{% static 'img/speakupnow.png' %}" width=auto></h1>
        <h1>Speak Up Now Online Consultation</h1>
        {% comment %} <button id="add-task" class="btn">Fill New Consultation Form</button>
        <button id="add-task" class="btn">Profile</button> {% endcomment %}
    </div>

    <!-- To do list content -->
    <div class="content"></div>
    
    <!-- Modals -->
    <div class="container">
      <button id="btn" data-toggle="modal" data-target="#myModal">Fill New Consultation Form</button>
    
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
      <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 id="modal-title">Online Consultation Form</h4>
          </div>
                <div class="modal-body">
                  <form method="POST" id="form" onsubmit="return false">
                      {% csrf_token %}
                      <div class="form-content">
                          <p>Name
                              <input class="input" id="name" placeholder="Name" required="required"></input>
                          </p>
                          <p>Title
                              <input class="input" id="title" placeholder="Title" required="required"></input>
                          </p>
                          <p>Description
                              <textarea class="description" id="description" placeholder="Description" rows="10" cols="50" required="required"></textarea>
                          </p>
                          <p>Do you need consultation in interactive mode?</p>
                              <select class="input" id="contactable">
                                  <option value="Y">Yes</option>
                                  <option value="N">No</option>
                              </select></p>
                          </div>
                      </form>
                  </div>
                <div class="modal-footer">
                  <button class="btn" id="add-task-button">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>

    <script>
        $(document).ready(function(){
            $("#add-task").click(function(){
                $('.modal-body').toggle();
            })
        })
    </script>

    <!-- Modal Add Task Button -->
    <script>
        $(document).ready(function() {
            loadData();
            $("#add-task-button").click(function(){
                $.post("/curhat/add/", {
                    name: $("#name").val(),
                    title: $("#title").val(), 
                    description : $('#description').val(),
                    contactable: $('#contactable').val()
                }, 
                function (data, status) {
                    if (status == 'success') {
                        $('#form').append(card(data))
                        resetForm()
                    }
                })
            })
        });

        function resetForm(){
            let current = $("#form");
                current["0"]["1"].value = "";
                current["0"]["2"].value = "";
                current["0"]["3"].value = "";
                current["0"]["4"].value = "";
        }

        function deleteTask(pk){
            $.ajax({
                type: "GET",
                url: "/curhat/delete/" + pk,
                data: null,
                success: data => console.log(data),
                dataType: "json"
            });
        }

        function loadData() {
            $.get('/curhat/json', function (data) {
                for (var i = 0; i < data.length; i++) {
                    $('.card').append(card(data[i]));
                }
            });
        }
        
        const card = (data) =>
          `<tbody>
                <tr class="prioirty-200">
                  <td>${data.fields.date}</td>
                  <td>${data.fields.name}</td>
                  <td>${data.fields.title}</td>
                  <td>${data.fields.description}</td>
                  <td>
                    <button><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>`
    </script>


    
</body>
</html>
{% endblock content %}