{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {% block meta %}
  <link rel="stylesheet" href="static/style.css">
  <link rel="shortcut icon" type="image/jpg" href="static/img/logo.png"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
  {% endblock meta %}
</head>

<style>
  body{
    font-family: 'Poppins';
    background-color: #F8F9FC;
    font-size: 16px;
}

  .navbar-custom{
      background-color: #3ECC90;
  }
  .btn:hover{
      background-color:#0caa68;
      border-color: #0caa68;
  }
  .btn-padding{
      gap: 20px;
  }
</style>

<body>
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/speakupnow.png' %}" width=250px>
        </a>
        <div class="d-flex btn-padding">
            <a href="/">
                <button type="button" class="btn">
                    Home
                </button>
            </a>

            <a href="/user-page/">
                <button type="button" class="btn">
                    Fitur
                </button>
            </a>
            <a href="{% url 'login' %}">
                <button type="button" class="btn">
                    Login
                </button>
            </a>
            <a href="{% url 'register' %}">
                <button type="button" class="btn btn-primary">
                    Sign Up
                </button>
            </a>
        </div>
    </div>
</nav>
  {% block content %}
  {% endblock content %}
</body>

</html>