{% extends 'base.html' %}
{% block content %}
<html>

{% block meta %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
{% endblock meta %}

<input class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" value="Report">



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form method="POST">
      {% csrf_token %}
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Reply</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-outline mb-4">
                {{ form.name.label }}
                <div style="height: 0.5rem;"></div>
                {{ form.name }}
            </div>
        
            <div class="form-outline mb-4">
                {{ form.phone_num.label }}
                <div style="height: 0.5rem;"></div>
                {{ form.phone_num }}
            </div>

            <div class="form-outline mb-4">
                {{ form.email.label }}
                <div style="height: 0.5rem;"></div>
                {{ form.email }}
            </div>

            <div class="form-outline mb-4">
                {{ form.case_name.label }}
                <div style="height: 0.5rem;"></div>
                {{ form.case_name }}
            </div>

            <div class="form-outline mb-4">
                {{ form.victim_name.label }}
                <div style="height: 0.5rem;"></div>
                {{ form.victim_name }}
            </div>

            <div class="form-outline mb-4">
                {{ form.victim_description.label }}
                <div style="height: 0.5rem;"></div>
                {{ form.victim_description }}
            </div>

            <div class="form-outline mb-4">
                {{ form.crime_place.label }}
                <div style="height: 0.5rem;"></div>
                {{ form.crime_place }}
            </div>

            <div class="form-outline mb-4">
                {{ form.chronology.label }}
                <div style="height: 0.5rem;"></div>
                {{ form.chronology }}
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Send</button>
          </div>
        </div>
      </div>
    </form>
</div>

<script>
    async function refreshForm() {
        console.log("pepe")
        document.getElementById("form").innerHTML = ""
        let htmlString = ""
        htmlString += `
            <form method="POST" id = form2>
                <div class="form-content">
                    {% csrf_token %}
                    {% for field in form %}

                    <p>
                        {{ field.label }} <br> {{ field }}
                    </p>
                    {% endfor %}
                    <input type="button" id="SubmitButton"  value="Submit" class="btn">
                    <a class="btn btn-dark" href = "{% url 'laporan:show_laporan' %}"> Kembali </a>
                </div>
            </form>
        `
        
        document.getElementById("form").innerHTML = htmlString
        console.log("pepe2")
    }
    function addForm() {
    console.log("asasa") 
    alert("Berhasil")
    fetch("{% url 'laporan:add_laporan' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form2'))
      }).then(refreshForm)
    
      
    return false
  }
    document.getElementById('SubmitButton').onclick = addForm

</script>

{% endblock %}
